
body {
    padding: 0px;
    margin: 0px;
}

#menu_bar {
    background-color: #EDEDED;
    width: 100%;
    height: 6%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    float: left;
}

#title {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    position: relative;
    top: -3px;
    left: 10px;
}

#choices {
    position: relative;
    display: inline-block;
    left: 33%;
    top: 5px;
    font-size: 80%;
    top: -3px;
}

.panels {
    display: none;
    float: left;
    resize: none;
    margin: 0px;
    border: 1px solid black;
    border-top: none;
    height: 100%;
}

#output_area {
    border: none;  
    /* ^Setting border to none fixed the problem of the iframe starting on a new line.
        The border made the iframe too big to be positioned side-by-side with everything else
        in the viewport so it was forced onto a new line. */
}

.button_label { 
    background: #EDEDED; /*For labels, this attribute is just called "background" (not background-color)*/
}


.button_label.ui-state-active {  /* Overriding the stylings laid out in the jQueyry UI style sheet */
    background: gray; 
}